

<div class="container mx-auto flex justify-end mt-8">
    <div class="center-buttons mr-80 space-x-20">
        <button class="px-6 py-3 bg-yellow-500 text-white font-bold rounded-md shadow-md mt-40 hover:bg-yellow-600">I'm A Job Seeker</button>
        <button class="px-6 py-3 bg-yellow-500 text-white font-bold rounded-md shadow-md hover:bg-yellow-600">I'm A Recruiter</button>
    </div>
</div>
